@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5f9fcd;
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #0f6106;
}
.game-details {
  color: #eaedf0;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #3f923b;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #2760bb;
}
.play-board .head {
  background: #e81923;
  animation: wiggle 0.3s infinite;
  transform-origin:center ;
  border-radius: 10px;
}

@keyframes wiggle {
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(5deg);
  }
  75%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0);
  }
  
}

.controls {
  display: flex;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
